#================================================
# CKAN CONFIGURATION
#================================================
CKAN_TSE_BASE_URL = "https://dadosabertos.tse.jus.br"
CKAN_DADOS_GOV_BASE_URL = "https://dados.gov.br"


#================================================
# MLFLOW CONFIGURATION
#================================================

MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
MLFLOW_S3_ACCESS_KEY=minioadmin
MLFLOW_S3_SECRET_KEY=minioadmin
MLFLOW_S3_BUCKET_NAME=mlflow
MLFLOW_S3_REGION_NAME=us-east-1
MLFLOW_TRACKING_TOKEN=your_tracking_token