# ======================
# Python (bytecode / cache)
# ======================
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
.mypy_cache/
.cache/

# ======================
# Ambiente / Virtualenv
# ======================
.venv/
.venv311/
venv/
env/
.Python

# ======================
# Build / Distribuição
# ======================
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.installed.cfg

# ======================
# PyInstaller
# ======================
*.manifest
*.spec

# ======================
# Logs / Relatórios / Testes
# ======================
*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# ======================
# Traduções
# ======================
*.mo
*.pot

# ======================
# Documentação
# ======================
docs/_build/

# ======================
# PyBuilder
# ======================
target/

# ======================
# Configuração / Ambiente
# ======================
.env
*.ini

# ======================
# Banco de Dados
# ======================
*.db
*.rdb

# ======================
# Dados / Outputs
# ======================
/data/
output/
files/
*.csv
*.parquet

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ======================
# ML / Experimentos
# ======================
mlruns/

# ======================
# IDEs / Editores
# ======================
.vscode/
.idea/
.spyproject/
.github/

# ======================
# Sistema Operacional
# ======================
.DS_Store
Thumbs.db

# ======================
# Editores (Vim etc.)
# ======================
*.swp
*.swo

# ======================
# Devcontainer
# ======================
# .devcontainer/conf/connections.json

# ======================
# Pipenv
# ======================
Pipfile
Pipfile.lock